# Cheia secretă Django - trebuie sa fie lungă, aleatoare și secretă
SECRET_KEY=schimba-cheia-aceasta-pentru-productie

# Activează modul debug (Atenție: lasă False în producție!)
DEBUG=True

# Domeniile permise (ex: 127.0.0.1,localhost,domeniul_tau.com)
ALLOWED_HOSTS=*

# Permisiuni CORS pentru API
CORS_ALLOW_ALL_ORIGINS=True
